# Explore here

In [ ]:
import pandas as pd
import numpy as np, random
import sklearn as skt
from sklearn.cluster import KMeans
from

In [16]:
df_rd_col = pd.read_csv("https://raw.githubusercontent.com/4GeeksAcademy/k-means-project-tutorial/main/housing.csv")
df_rd_col.head(4)
df_rd_col.describe()

,MedInc,HouseAge,AveRooms,AveBedrms,Population,AveOccup,Latitude,Longitude,MedHouseVal
count,20640.000000,20640.000000,20640.000000,20640.000000,20640.000000,20640.000000,20640.000000,20640.000000,20640.000000
mean,3.870671,28.639486,5.429000,1.096675,1425.476744,3.070655,35.631861,-119.569704,2.068558
std,1.899822,12.585558,2.474173,0.473911,1132.462122,10.386050,2.135952,2.003532,1.153956
min,0.499900,1.000000,0.846154,0.333333,3.000000,0.692308,32.540000,-124.350000,0.149990
25%,2.563400,18.000000,4.440716,1.006079,787.000000,2.429741,33.930000,-121.800000,1.196000
50%,3.534800,29.000000,5.229129,1.048780,1166.000000,2.818116,34.260000,-118.490000,1.797000
75%,4.743250,37.000000,6.052381,1.099526,1725.000000,3.282261,37.710000,-118.010000,2.647250
max,15.000100,52.000000,141.909091,34.066667,35682.000000,1243.333333,41.950000,-114.310000,5.000010

In [9]:
df_rd_col.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20640 entries, 0 to 20639
Data columns (total 9 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   MedInc       20640 non-null  float64
 1   HouseAge     20640 non-null  float64
 2   AveRooms     20640 non-null  float64
 3   AveBedrms    20640 non-null  float64
 4   Population   20640 non-null  float64
 5   AveOccup     20640 non-null  float64
 6   Latitude     20640 non-null  float64
 7   Longitude    20640 non-null  float64
 8   MedHouseVal  20640 non-null  float64
dtypes: float64(9)
memory usage: 1.4 MB

1) Tenemos la funcion KMeans, vamos a separar por clusters parametrizando correctamente.
KMeans
class sklearn.cluster.KMeans(n_clusters=8, *, init='k-means++', n_init='auto', max_iter=300, tol=0.0001, verbose=0, random_state=None, copy_x=True, algorithm='lloyd')

In [12]:
df_rd_col = df_rd_col.drop_duplicates().reset_index(drop = True)
df_rd_col = df_rd_col.fillna(0)

Solo nos piden clusterizar 3 variables, que ademas tienen un rango similar y con rangos cercanos, optare por un MinMax antes de utilizar KMEANS. Usaria una NormScalSTD si fuera todo el dataframe, ya que ah√≠,
si existen rangos muy diferentes y diferencias entre el 3Q y valor max dispares.

In [14]:
#PRIMERAMENTE realizamos un drop de columnas

df_rd_3var = df_rd_col.drop(axis=1,columns=['HouseAge','AveRooms','Population','AveBedrms','AveOccup','MedHouseVal'])
df_rd_3var.head(1)

   MedInc  Latitude  Longitude
0  8.3252     37.88    -122.23

In [27]:
#Normalizacion MinMax:
from sklearn.preprocessing import MinMaxScaler
mmx = MinMaxScaler()
df_3_mmx = df_rd_3var.copy()
df_3_mmx = mmx.fit(df_rd_3var)
df_3_mmx = mmx.transform(df_rd_3var)
df_3_mmx
df3mmx = pd.DataFrame(df_3_mmx)
df3mmx.to_csv("/workspaces/K-medias/data/processed/df3mmxtrain.csv", index=False)
#REALIZO FUNCION SPLIT TRAIN/TEST, AL NO HABER VARIABLE TARGET, OMITO EL Y TRAIN/TEST.
df3mmx

              0         1         2
0      0.539668  0.567481  0.211155
1      0.538027  0.565356  0.212151
2      0.466028  0.564293  0.210159
3      0.354699  0.564293  0.209163
4      0.230776  0.564293  0.209163
...         ...       ...       ...
20635  0.073130  0.737513  0.324701
20636  0.141853  0.738576  0.312749
20637  0.082764  0.732200  0.311753
20638  0.094295  0.732200  0.301793
20639  0.130253  0.725824  0.309761

[20640 rows x 3 columns]

AHORA QUE TENEMOS NUESTROS DATOS ARREGLADOS, PROCEDO A IMPLEMENTAR EL K-MEAN.